/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;

}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

table.table, .table th , .table td{
  border-collapse: collapse;
  border: 1px solid black;

}

.main-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.main-content {
  display: flex;
  width: 100%;
  max-height: calc(100vh - 64px);
  flex-grow: 1;
}

.rankings-page {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.selection-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: stretch;
}

.selection-page .choices {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header {
  width: 100%;
  height : 64px;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.hidden {
  display: none;
}

